<h1>Your applications</h1>

<div><%= link_to 'Logout', logout_path %></div>

<p><%= link_to 'Add new application', new_client_path %></p>


        <ul>
            <% @user.clients.each do |c| %>
                <li>
                    <h2><%= c.name %></h2>
                    <p>API Key: <%= c.apikey %></p>
                    <p>Url: <%= c.url %></p>
                    <p>Description: <%= c.description %></p>
                </li>
                <%= link_to 'Delete Application',  { action: :delete, id: c.id }, method: :delete, data: { confirm: 'If you press YES you will delete the application!' } %>
            <% end %>
        </ul>