<h1>Your applications</h1>

<div><%= link_to 'Logout', logout_path %></div>

<p><%= link_to 'Add new application', new_client_path %></p>


        <ul class="list-group">
            <% @user.clients.each do |c| %>
                <li class="list-group-item">
                    <h3 class="list-group-item-heading"><%= c.name %></h3>
                    <p class="list-group-item-text">API Key: <%= c.apikey %></p>
                    <% if c.active %>
                        <p class="list-group-item-text">State: Active</p>
                    <% else %>
                        <p class="list-group-item-text">State: Administrator deactivated your application</p>
                    <% end %>
                    <p class="list-group-item-text">Url: <%= c.url %></p>
                    <p class="list-group-item-text">Description: <%= c.description %></p>
                    <%= link_to 'Delete Application',  { action: :delete, id: c.id }, method: :delete, data: { confirm: 'If you press YES you will delete the application!' } %>
                </li>
            <% end %>
        </ul>