<div><%= link_to 'Logout', logout_path %></div>

<% @user.each do | u | %>

    # User with id=1 is administrator
    <% if u.id != 1%>
    <h3><%= users.username %></h3>
    <%= link_to 'Delete User',  { action: :delete, id: u.id }, method: :delete, data: { confirm: 'If you press YES you will delete user!' } %>
    <table>
        <th>
            <td>API Key</td>
            <td>URL</td>
            <td>Description</td>
         </th>
        <% users.clients.each do | c | %>
        <tr colspan="3"><%= c.name %></tr>
        <tr>
            <td>
                <p>API Key: <%= c.apikey %></p>
            </td>
            <td>
                <p>Url: <%= c.url %></p>
            </td>
            <td>
                <p>Description: <%= c.description %></p>
            </td>
        </tr>
        <tr colspan="3"><%= link_to 'Delete Application',
                      { action: :delete, id: c.id },
                                    method: :delete,
        data: { confirm: 'If you press YES you will delete the application!' } %></tr>
    </table>
    <% end %>
<% end %>