<div>
    <% if @user.errors.any? %>
        <div>
          <h2>You have to fulfill following tasks:</h2>
    
          <ul>
            <% @user.errors.full_messages.each do |msg|%>
              <li><%= msg%></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div>
        <h3>Sign Up</h3>
        <fieldset>
            <%= form_for @user do |f| %>
                <p><%= f.label :username %></p>
                <p><%= f.text_field :username %></p>
                <p><%= f.label :email %></p>
                <p><%= f.text_field :email %></p>
                <p><%= f.label :password %></p>
                <p><%= f.password_field :password %></p>
                <p><%= f.label :password_confirmation %></p>
                <p><%= f.password_field :password_confirmation %></p>
                <p><%= f.submit 'Submit', :id => "submit" %></p>
            <% end %>

        </fieldset>
        <%= link_to 'Back to Login', root_path %>
    </div>
</div>