<div>
        <div>
                <h3>Café Places API</h3>
                <p>More information will be available soon...</p>
        </div>

        <div>
            <fieldset>
                <%= form_tag(login_path, method: 'post') do %>
                <%= label_tag(:username, 'Username:') %>
                <%= text_field_tag(:username) %>
                <%= label_tag(:password, 'Password:') %>
                <%= password_field_tag(:password) %>
                <%= submit_tag 'Log in', :id => "submit" %>
            <% end %>
            </fieldset>
            <%= link_to "Register", users_path %>    
        </div>
</div>