<div>
        <div>
                <h3>Registration API</h3>
                <p>More information will be available soon...</p>
        </div>

        <div>
            <fieldset>
                <%= form_tag(login_path, method: 'post' , class: 'form-inline') do %>
                <div class="form-group">
                <%= label_tag(:username, 'Username:') %>
                <%= text_field_tag(:username) %>
                </div>
                <div class="form-group">
                <%= label_tag(:password, 'Password:') %>
                <%= password_field_tag(:password) %>
                </div>
                <%= submit_tag 'Log in', :id => "submit" , class: 'btn btn-default'  %>
            <% end %>
            </fieldset>
            <%= link_to "Register", users_path %>    
        </div>
</div>